
    <!--main content start-->
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="margin-bottom:2px;">
                            <h3 class="panel-title">
                                扩充记录
                                <a type="button" style="margin-left:2%;" class="btn btn-success active" role="botton" href="{:U('Task/index')}">返回列表</a>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>添加人数</th>
                                            <th>添加时间</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                            <foreach name="log" item="vo" >
                                            <tr>
                                                <td>{$vo.add_quantity}</td>
                                                <td>{$vo.create_time}</td>
                                                <td></td>
                                            </tr>
                                            </if>
                                            </foreach>

                                    </tbody>
                                </table>
                            </div>
                            <div class="pages">
                                <?php  ?>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    <script>
        function pasueTask(tid,action) {
            var name=".tr_"+tid;
            var sname=".dr_"+tid;
            $.post(
                    '{:U("Task/pasueTask","",false)}',
                    {
                        id:tid,
                        act:action
                    },
                    function ($this) {
                        if ($this==200) {
                            $(name).remove();
                            $(sname).append(
                                    "<a href='#' onclick=\"pasueTask("+tid+",'start')\" class='tr_"+tid+"'><i class='fa fa-play'>开始</i></a>"
                            );
                        }
                        if ($this==300){
                            $(name).remove();
                            $(sname).after(
                                    "<a href='#' onclick=\"pasueTask("+tid+",'pasue')\" class='tr_"+tid+"'><i class='fa fa-pause'>暂停</i></a>"
                            );
                        }
                        if($this==404){
                            alert('你没有权限');
                        }
                        if($this==500){
                            alert('操作失败');
                        }
                    }
            );
        }

        $(function () {
            $("#firstLi").removeClass("active");
            $("#secondLi").addClass("active");
        })

    </script>