
    <!--main content start-->
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="margin-bottom:2px;">
                            <h3 class="panel-title">
                                节点列表
                                <a type="button" style="margin-left:2%;" class="btn btn-success active" role="botton" href="{:U('Node/create')}">添加节点</a>
                                &nbsp;&nbsp;&nbsp;<span style="font-size:16px; color:red;">(*注： 红色表示顶级应用。蓝色表示模块。绿色表示列表。)</span>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>节点类型</th>
                                            <th>名称</th>
                                            <th>描述</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    <?php if (!empty($data)) : ?>
                                    <?php foreach($data as $item) : ?>
                                    <tr class="<?php
                                        if (1 == $item['level']) {
                                            echo 'danger';
                                        } else if (2 == $item['level']) {
                                            echo 'info';
                                        } else if (3 == $item['level']) {
                                            echo 'success';
                                        }
                                    ?>">
                                        <td><?php echo ++$no ?></td>
                                        <!--echo 1 == $item['level'] ? '应用' : '模块'-->
                                        <td>
                                            <?php if (1 == $item['level']): ?>
                                                顶级应用
                                            <?php elseif (2 == $item['level']): ?>
                                                模 块
                                            <?php elseif (3 == $item['level']) : ?>
                                                功能列表
                                            <?php else : ?>
                                                列表方法
                                            <?php endif; ?>
                                        </td>
                                        <td><?php echo $item['name'] ?></td>
                                        <td><?php echo $item['title'] ?></td>
                                        <td><?php echo empty($item['status']) ? '禁用' : '可用' ?></td>
                                        <td class="exec">
                                            <a href="{:U('Node/update', array('id' => $item[id]))}" title="修改操作"><i class="fa fa-edit"></i></a>
                                            <a class="del" data-del="{:U('Node/delete', array('id' => $item[id]))}" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <?php endforeach; ?>
                                    <?php else : ?>
                                    <div class="help-block">没有任何数据</div>
                                    <?php endif; ?>
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="pages">-->
                                <!--<?php echo $pageStr ?>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
            </div>
        </section>
