<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="{$Think.const.ADMIN_CSS_URL}style.css" rel="stylesheet" type="text/css">

    <link href="{$Think.const.HOME_CSS_URL}basecss.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" charset="utf-8" src="{$Think.const.HOME_JS_URL}/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="{$Think.const.HOME_JS_URL}/shike.js"></script><meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <title>小萌差事-公众号分配</title>
    <link href="{$Think.const.HOME_CSS_URL}myinfocss.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrap">
        <div class="main">
            <div class="qrcode">
                <strong>微信扫描</strong>下方二维码进入，扫描后将自动绑定您的账号。【此二维码包含您的账户信息，请勿外泄】
                <div class="danger">为了您的账户安全，请务必从本网站获取二维码扫描进入</div>
                <!--<img src="{$url}">-->
            </div>
            <img class="jztp"  src="{$url}"/>
        </div>
</div>


