<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{$Think.const.ADMIN_IMG_URL}favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{$Think.const.ADMIN_PLUGIN_URL}bootstrap/css/bootstrap.min.css">
    <!-- Fonts  -->
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}font-awesome.min.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}simple-line-icons.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}common.css">
    <!-- Feature detection -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{$Think.const.ADMIN_JS_URL}vendor/html5shiv.js"></script>
    <script src="{$Think.const.ADMIN_JS_URL}vendor/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{__CONTENT__}
<!--Global JS-->
<script src="{$Think.const.ADMIN_JS_URL}vendor/jquery-1.11.1.min.js"></script>
<script src="{$Think.const.ADMIN_PLUGIN_URL}bootstrap/js/bootstrap.min.js"></script>
<!--Load these page level functions-->
<script src="{$Think.const.ADMIN_JS_URL}src/common.js"></script>




</body>

</html>
